<div class="container d-flex flex-column gap-4 mt-3">
  @if (showAlert()) {
    <div [class]="`alert alert-${showAlert()?.type} d-flex justify-content-between`" role="alert">
      <span>{{ showAlert()?.message }}</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onClose()"></button>
    </div>
  }

  <input id="inputUploadFile" type="file" multiple (change)="onFilesSelected($event)" #inputUploadFile />

  <div class="row">
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary" (click)="inputUploadFile.click()">Upload</button>
    </div>
    <div class="col-sm-1">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSend()"
        [disabled]="!fileList().length || hasFilesWithError()"
      >
        Enviar
      </button>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-outline-primary" (click)="onRefresh()" [disabled]="!fileList().length">
        Cancelar
      </button>
    </div>
  </div>

  @if (fileList().length) {
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead class="table-light">
            <tr>
              <th scope="col">Nome do arquivo</th>
              <th scope="col">Erro</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            @for (fileItem of fileList(); track fileItem.id) {
              <tr>
                <td>{{ fileItem.file?.name }}</td>
                <td>
                  <span class="text-danger">{{ fileItem.error ? ERROR_DICTIONARY[fileItem.error] : '' }}</span>
                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm" (click)="onRemoveFile(fileItem.id)">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
</div>

<router-outlet />
